
{% extends "base.html" %}

{% block content %}

<h1>Add a Recipe</h1>

  <form method="POST">
    {{ template_form.hidden_tag() }}
    
    <p>{{ template_form.recipe.label }}
    {{ template_form.recipe() }}</p>
    
    {{ template_form.recipe_type.label }}
    <table><tr>
      {% for btn in template_form.recipe_type %}
        <td>{{ btn() }}</td>
        <td>{{ btn.label }}</td>
      {% endfor %}
    </tr></table>

    <p>{{ template_form.description.label }}
    {{ template_form.description() }}</p>
    <p>{{ template_form.ingredients.label }}
    {{ template_form.ingredients() }}</p>
    <p>{{ template_form.instructions.label }}
    {{ template_form.instructions() }}</p>
    <p>{{ template_form.submit() }}</p>
  </form>

{% endblock %}
